/* Frame 1411068008 */

position: relative;
width: 1920px;
height: 1080px;

background: #272727;


/* Group 1321319232 */

position: absolute;
width: 1232.78px;
height: 514.74px;
left: calc(50% - 1232.78px/2 + 0.39px);
top: calc(50% - 514.74px/2 + 0.37px);



/* Rectangle 24729 */

box-sizing: border-box;

position: absolute;
width: 1232.78px;
height: 514.74px;
left: 344px;
top: 283px;

background: #090909;
border: 2.16278px solid #2E2E2E;
border-radius: 43.2556px;


/* Total clicks: */

position: absolute;
width: 159px;
height: 21px;
left: 378.6px;
top: 324.09px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 28.1161px;
line-height: 45px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #FFFFFF;



/* Group 1321319205 */

position: absolute;
width: 847.83px;
height: 16px;
left: 536.49px;
top: 760.97px;



/* M */

position: absolute;
width: 20px;
height: 16px;
left: 536.49px;
top: 760.97px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #747474;



/* T */

position: absolute;
width: 13px;
height: 16px;
left: 679.23px;
top: 760.97px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;

color: #747474;



/* W */

position: absolute;
width: 23px;
height: 16px;
left: 813.32px;
top: 760.97px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;

color: #747474;



/* T */

position: absolute;
width: 13px;
height: 16px;
left: 953.9px;
top: 760.97px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;

color: #747474;



/* F */

position: absolute;
width: 13px;
height: 16px;
left: 1094.48px;
top: 760.97px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;

color: #747474;



/* S */

position: absolute;
width: 13px;
height: 16px;
left: 1232.9px;
top: 760.97px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;

color: #747474;



/* S */

position: absolute;
width: 13px;
height: 16px;
left: 1371.32px;
top: 760.97px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;

color: #747474;



/* Group 1321319204 */

position: absolute;
width: 28px;
height: 223.63px;
left: 369.95px;
top: 473.32px;



/* 10 */

position: absolute;
width: 24px;
height: 16px;
left: 369.95px;
top: 680.95px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #747474;



/* 20 */

position: absolute;
width: 27px;
height: 16px;
left: 369.95px;
top: 611.74px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #747474;



/* 30 */

position: absolute;
width: 27px;
height: 16px;
left: 369.95px;
top: 542.53px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #747474;



/* 40 */

position: absolute;
width: 28px;
height: 16px;
left: 369.95px;
top: 473.32px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 21.6278px;
line-height: 34px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #747474;



/* 352 */

position: absolute;
width: 60px;
height: 26px;
left: 562.44px;
top: 321.93px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 700;
font-size: 34.6045px;
line-height: 57px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: right;

color: #FFFFFF;



/* Vector 2875 */

position: absolute;
width: 1230.62px;
height: 0px;
left: 345.08px;
top: 380.33px;

border: 2.16278px solid #2E2E2E;


/* Frame 1411067650 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 17.3022px 25.9533px;
gap: 21.63px;
isolation: isolate;

position: absolute;
width: 317.93px;
height: 56.23px;
left: 1224.25px;
top: 304.63px;

border: 2.16278px solid #2E2E2E;
border-radius: 16.9753px;


/* Rectangle 24794 */

box-sizing: border-box;

position: absolute;
width: 58.4px;
height: 43.26px;
left: 67.05px;
top: 6.49px;

background: #1F1F1F;
border: 2.16278px solid #2E2E2E;
border-radius: 8.65111px;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 31px;
height: 21px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 28.5487px;
line-height: 45px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;

color: #BCBCBC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Text */

width: 35px;
height: 21px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 28.5487px;
line-height: 45px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Text */

width: 39px;
height: 21px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 28.5487px;
line-height: 45px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;

color: #BCBCBC;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Text */

width: 46px;
height: 21px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 28.5487px;
line-height: 45px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;

color: #BCBCBC;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Text */

width: 27px;
height: 21px;

font-family: 'Axiforma';
font-style: normal;
font-weight: 400;
font-size: 28.5487px;
line-height: 45px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;

color: #BCBCBC;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Group 1321319184 */

position: absolute;
width: 1108.42px;
height: 330.63px;
left: 408.88px;
top: 427.91px;



/* Group 1321319165 */

position: absolute;
width: 1108.42px;
height: 322.25px;
left: 408.88px;
top: 427.91px;



/* Vector 2895 */

position: absolute;
width: 0px;
height: 322.25px;
left: 409.96px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2896 */

position: absolute;
width: 0px;
height: 322.25px;
left: 548.37px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2897 */

position: absolute;
width: 0px;
height: 322.25px;
left: 686.79px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2898 */

position: absolute;
width: 0px;
height: 322.25px;
left: 825.21px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2899 */

position: absolute;
width: 0px;
height: 322.25px;
left: 963.63px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2900 */

position: absolute;
width: 0px;
height: 322.25px;
left: 1102.04px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2901 */

position: absolute;
width: 0px;
height: 322.25px;
left: 1240.46px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2902 */

position: absolute;
width: 0px;
height: 322.25px;
left: 1378.88px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2904 */

position: absolute;
width: 0px;
height: 322.25px;
left: 1517.3px;
top: 427.91px;

border: 2.16278px solid #1A1A1A;


/* Vector 2905 */

position: absolute;
width: 0px;
height: 1107.34px;
left: 408.88px;
top: 689.6px;

border: 2.16278px solid #1A1A1A;
transform: rotate(-90deg);


/* Vector 2906 */

position: absolute;
width: 0px;
height: 1107.34px;
left: 408.88px;
top: 620.39px;

border: 2.16278px solid #1A1A1A;
transform: rotate(-90deg);


/* Vector 2907 */

position: absolute;
width: 0px;
height: 1107.34px;
left: 408.88px;
top: 551.18px;

border: 2.16278px solid #1A1A1A;
transform: rotate(-90deg);


/* Vector 2908 */

position: absolute;
width: 0px;
height: 1107.34px;
left: 408.88px;
top: 481.98px;

border: 2.16278px solid #1A1A1A;
transform: rotate(-90deg);


/* Vector 2891 */

position: absolute;
width: 1107.34px;
height: 279px;
left: 408.88px;
top: 479.54px;

background: linear-gradient(180deg, rgba(100, 73, 255, 0.4) 0%, rgba(100, 73, 255, 0) 92.26%);


/* Vector 2889 */

position: absolute;
width: 1107.34px;
height: 201.14px;
left: 408.88px;
top: 479.54px;

border: 8.65111px solid #6449FF;
